<!DOCTYPE html>
<html lang="en">

<head>
  <title>Funguana Invite</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="You site description goes here" />
  <meta property="og:title" content="Site description" />
  <meta property="og:image" content="/funguana169.png" />
  <meta property="og:type" content="website" />       
  <meta property="og:url" content="XXX" />
  <meta name="og:description" content="XXX Site Description Goes Here" />
  <meta name="twitter:card" content="XXX" />
  <meta name="twitter:site" content="XXX" />
  <meta name="twitter:title" content="XXXX" />
  <meta name="twitter:description" content="Site Description" />
  <meta name="twitter:image" content="/funguana169.png" />

  <link rel="icon" href="/logo.png" type="image/x-icon">
  <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
  <script src="https://gw.alipayobjects.com/os/rmsportal/nGVBgVyXzzmbAqevIAPy.js">
  </script>
  <script src=" https://gw.alipayobjects.com/os/rmsportal/TKSqiyoUxzrHoMwjViwA.js "></script>
  <script src="https://gw.alipayobjects.com/os/antv/assets/data-set/0.8.7/data-set.min.js"></script>
</head>

<body>
  <div id="root"></div>
</body>

</html>